:root {
  --circle-color: rgb(31, 133, 151);
  --circle-fontcolor: rgb(255, 255, 255);
  --boxhcolor: rgb(5, 82, 96);
  --contentcolor: rgb(106, 106, 106);
}

.main-header {
  height: 225px;
  background: rgb(24, 184, 199);
  background-image: url(./asset/image/header_l.jpg);
  background-position: bottom;
  background-repeat: repeat-x;
}

header .wrapper {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

.wrapper img {
  width: 280px;
  height: 40px;
}

.sideicon {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  background: rgb(5, 82, 96);
  background-image: url(./asset/image/m_menu.png);
  cursor: pointer;
}

.sideicon img {
  width: 100%;
  height: 396px;

}

.desktopsideicon {
  display: none;
}

.title {
  box-sizing: border-box;
  max-width: 500px;
  margin-inline: auto;
}

.title img {
  width: 100%;
  padding-top: 20px;
}

.btngroup ul {
  display: none;
}

.main-content {
  background: url(./asset/image/bg.jpg);
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;

}

.main-content .mobile {
  max-width: 400px;
  margin-top: 2rem;
}

.main-content .mobile img {
  width: 100%;
}

.main-content .desktop {
  display: none;
}

.maintext {
  text-align: center;
  line-height: 1.5rem;
  color: var(--contentcolor);
}

.main-box {
  margin: 0 36px;
  box-sizing: border-box;
}

.box {
  max-width: 910px;
  background: #ffffff;
  border: 1px solid var(--circle-color);
  border-radius: 20px;
  margin: 60px 0px 20px 0px;
  position: relative;
  box-sizing: border-box;
  padding: 35px 35px 20px 40px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  >ul {
    align-self: flex-start;
    padding-left: 0;

    h3 {
      margin: 0;
    }

    p {
      margin-top: 5px;
    }
  }

  li {
    margin-inline: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
    color: var(--contentcolor);
  }

  h3,
  span {
    font-size: 16px;
    font-weight: 700;
    color: var(--boxhcolor);
  }

  span {
    color: var(--boxhcolor);
  }

}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: calc(50% - 45px);
  background: var(--circle-color);
  color: var(--circle-fontcolor);

  >h2 {
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    font-weight: 500;
  }
}

.hat img {
  display: none;
}

.girl1 img {
  display: none;
}

.way_mobile {
  box-sizing: border-box;
  max-width: 589px;
  margin-inline: auto;
}

.way_mobile img {
  width: 100%;
  margin-inline: auto;
}

.girl2 img {
  display: none;
}

.way_p img {
  display: none;
}

.box4 {
  margin-bottom: 60px;

  p {
    color: var(--circle-color);
  }
}

.footerbox {
  background: #000;

  h3 {
    font-size: 18px;
    color: #b3b3b3;
    background: #2a2a2a;
    margin: 0;
    padding-block: 6px;
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 0;
  }

  li {
    box-sizing: border-box;
    flex: 0 0 50%;
    padding: 10px;
    display: flex;
    margin: -1px 0 0 -1px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(32, 32, 32);
    position: relative;
    height: 56px;

    &:nth-child(2n) {
      border-right: none;
    }

    &:nth-child(2n+1) {
      border-left: none;
    }
  }

  img {
    width: auto;
    height: 50px;
    object-fit: cover;
  }
}

.bottomtext {
  background: #000;
  text-align: center;
  color: var(--contentcolor);
}


/* ------- 以下為RWD設定 ------- */
@media screen and (min-width: 768px) {
  .sideicon1 {
    display: none;
  }

  .desktopsideicon {
    position: absolute;
    right: 16px;
    display: block;

    >.sideicon {
      margin-block: 8px;
    }

    .sideicon2 {
      background-position: center 72px;
    }

    .sideicon3 {
      background-position: center 144px;
    }
  }

  .btngroup ul {
    padding: 10px 0 0 0;
    list-style: none;
    /* background: lightgoldenrodyellow; */
    flex-wrap: row nowrap;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    display: block;
    flex: 1 0 65px;

  }

  .btngroup li {
    color: rgb(5, 82, 96);
    text-align: center;
    padding: 10px 1rem;
    margin: 0 1.5rem;
    cursor: pointer;
    font-weight: 700;
    text-wrap: nowrap;
  }

  .btngroup li a {
    display: block;
    text-align: center;
  }

  nav ul li:hover {
    background: #fff000;
    border-radius: 30px 30px;
  }

  .main-content .desktop {
    max-width: 768px;
    padding-top: 2rem;
    /* display: none; */
  }

  .main-content .desktop img {
    max-width: 100%;
  }

  .title img {
    padding-top: 0px;
  }

  .maintext span+br {
    display: none;
  }

  .btngroup ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main-content .mobile {
    display: none;
  }

  .main-content .desktop {
    display: block;
  }

  .box {

    h3,
    p {
      display: inline;
    }
  }

  .circle {
    left: -25px;

    h2 {
      font-size: 22px;
      margin-top: 20px;
    }
  }

  .box1 {
    .hat img {
      position: absolute;
      top: -250px;
      left: 80px;
      display: block;
    }

    .girl1 img {
      content: url(asset/image/girl1.png);
      display: block;
      position: absolute;
      right: 0px;
      bottom: 50px;
    }
  }

  .box2 {
    .way_mobile {
      display: none;
    }

    .girl2 img {
      content: url(asset/image/girl2.png);
      display: block;
      position: absolute;
      left: -30px;
      bottom: 5%;
    }

    .way_p img {
      content: url(asset/image/way_p.jpg);
      display: block;
      width: 100%;
      height: auto;
    }

    .way_p {
      margin-left: auto;
    }
  }

  footer {
    background: #000;
  }

  .main-footer {
    padding-block: 16px;
    display: flex;
    flex-wrap: nowrap;
    /* flex: 0 0 100%; */
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--contentcolor);

    h3 {
      font-size: 1rem;
      font-weight: 300;
      width: 50px;
      height: 50px;
      padding: 0;
      border-radius: 50%;
      line-height: 1rem;
      background: var(--contentcolor);
      color: lightgray;


      span {
        display: block;
        padding-top: 10px;

      }

    }

    .footerbox {
      display: flex;
      margin-inline: 5px;
      background: none;
    }

    ul {
      align-items: center;
    }

    li {
      box-sizing: border-box;
      flex: 0 0 20%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 56px;
      border: none;

      &:last-child {
        display: none;
      }
    }
  }

  .bottomtext {
    display: flex;
    justify-content: center;
    padding-block: 8px;
    color: #ffffff;
    font-size: 12px;
  }
}